<!doctype html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js" integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js" integrity="sha512-SUJujhtUWZUlwsABaZNnTFRlvCu7XGBZBL1VF33qRvvgNk3pBS9E353kcag4JAv05/nsB9sanSXFbdHAUW9+lg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js" integrity="sha512-SYsXmAblZhruCNUVmTp5/v2a1Fnoia06iJh3+L9B9wUaqpRVjcNBQsqAglQG9b5+IaVCfLDH5+vW923JL5epZA==" crossorigin="anonymous"></script>
        <title>Solver for Among Us</title>
        <style>
            li.colour_box{
                display:inline-block;
                width: 15vw;
                text-align: center;
                border:2px solid black;
                border-radius: 0.5em;
            }

            img.tc{
                display:block;
                max-width: 3em;
                max-height: 3em;
                width:10vw;
                height:10vw;
                margin:auto;
            }

            li.num_box{
                display:inline-block;
                width: 1.2em;
                height: 1.2em;
                border:2px solid black;
                border-radius: 4px;
                font-size:30pt;
                text-align:center;
            }

            li.disabled_num{
                border-color:grey;
                color:grey;
            }

            li.selected_num{
                color:red;
                border-color:red;
            }

            @keyframes go_away {
                0% {opacity:100%;}
                75% {opacity:100%;}
                100% {opacity:0%;}
            }

            div.noticebox{
                border-radius: 5px;
                padding: 1em;
                border: 1px solid #3891ff;
                background-color: #d7f2ff;
                opacity:100%;
            }

            .fadeout{
                animation-name: go_away;
                animation-duration: 4s;
                animation-fill-mode: forwards;
            }

            div.noticebox:empty{
                opacity:0%;
                content:'foo';
            }

            div.error{
                border-color: #ff7d7d;
                background-color: #ffcece;
            }

        </style>
    </head>
    <body>
        <h1>Solver for Among Us</h1>
        <div id='content'></div>
        <script type='text/babel'>

            let colnames = [
                {% for c in colours.keys() %}
                    "{{c}}",
                {% endfor %}
            ];

            let colmap = {
                {% for c, h in colours.items() %}
                    {{c}}: '#{{h}}',
                {% endfor %}
            }

            function do_post(path, j){
                return fetch(path, {
                    method: 'POST'
                    ,headers: {'Content-Type': 'application/json'}
                    ,body: JSON.stringify(j)
                })
                .then(r=>r.json())
            }

            class ColourBox extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                }

                is_ticked(){
                    return this.props.checked;
                }

                imagename(){
                    if (this.is_ticked()) { return 'static/tick.svg'; }
                    return 'static/cross.svg';
                }

                render(){
                    return(
                        <li class='colour_box' style={ {backgroundColor: this.props.colourval} } onClick={this.props.onClick} >
                            { this.props.colourname }
                            <img class='tc' src={this.imagename()}/>
                        </li>
                    );
                }
            }

            class NumberBox extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                }

                render(){
                    return(
                        <li class={'num_box'+(this.props.enabled? ' disabled_num':' ')+(this.props.selected? ' selected_num':' ')} onClick={this.props.onClick} >
                            { this.props.num }
                        </li>
                    );
                }

            }

            class ChooseColours extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                    this.state = {checked: [true, true, true, true, true, false, false, false, false, false, false, false]};
                    this.toggle = this.toggle.bind(this);
                }

                player_count(){
                    return this.state.checked.map(c=>(c?1:0)).reduce((a,b)=>a+b,0);
                }

                toggle(i){
                    this.setState((state, props) => {
                        let c = state.checked;
                        c[i] = !c[i];
                        return {checked: c}
                    });
                }

                render(){
                    return(
                        <div>
                            <ul>
                                {% for c, h in colours.items() %}
                                    <ColourBox colourname='{{ c }}' colourval='#{{ h }}' index='{{ loop.index }}' onClick={()=>{this.toggle({{loop.index0}})}} checked={this.state.checked[{{loop.index0}}]}/>
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for i in range(10) %}
                                    <NumberBox num='{{i+1}}' enabled='false' selected={this.player_count() == {{i+1}} } />
                                {% endfor %}
                            </ul>
                            <span style={ {color:'red', fontWeight: 'bold'} }>{this.player_count()>10?'Too many players':''}</span>
                        </div>
                    );
                }
            }

            class ChooseNumber extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                    this.state = {n:1};
                }

                setnum(n){ this.setState({n}); }

                render(){
                    return(
                        <ul>
                            {Array.from(Array(this.props.max).keys()).map(i =>
                                <NumberBox num={i+1} onClick={()=>{this.setnum(i+1);}} selected={this.state.n == i+1}/>
                            )}
                        </ul>
                    );
                }
            }

            function fade_notices(){
                document.querySelectorAll('.noticebox').forEach(b=>{
                    b.classList.remove('fadeout');
                    setTimeout(()=>{b.classList.add('fadeout');}, 1);
                })
            }

            class NoticeBox extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                }

                render(){
                    return(
                        <div class={'noticebox' + (this.props.error?' error':'')}>
                            { this.props.msg }
                        </div>
                    );
                }
            }

            class GameStarter extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                    this.col_picker = React.createRef();
                    this.num_picker = React.createRef();
                    this.state = {msg:'', iserror:false}
                    this.startgame = this.startgame.bind(this);
                    this.handle_response = this.handle_response.bind(this);
                }

                handle_response(r){
                    this.setState({msg: r.msg, iserror:r.result == 'error'});
                    fade_notices();
                    if (r.result == 'success'){
                        if ('token' in r){
                            run_game(r.token, r.impostors, r.colours, r.summary);
                        }
                    }
                }

                startgame(){
                    let colours = [];
                    let flags = this.col_picker.current.state.checked;
                    for (var i = 0; i<= flags.length-1; i++){
                        if (flags[i]){
                            colours.push(colnames[i]);
                        }
                    }
                    let start_state = {
                        impostors: this.num_picker.current.state.n
                        ,colours: colours
                    }
                    do_post('/startgame', start_state).then(this.handle_response);
                }

                render(){
                    return(
                        <div>
                            <NoticeBox ref={this.notice_box} msg={this.state.msg} error={this.state.iserror} />
                            <h2>Players in game</h2>
                            <ChooseColours ref={this.col_picker}/>
                            <h2>Number of impostors</h2>
                            <ChooseNumber ref={this.num_picker} max={3} />
                            <button onClick={this.startgame}>Start game</button>
                        </div>
                    );
                }
            }


            /*

            def learn_set_includes_impostors(self, colours):
                """ learn that the players with the specified colours form a group that contains at least one

            */


            class LearnBox extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                    this.state = {checked: false};
                    this.learn = this.learn.bind(this);
                }

                learn(what, who){
                    let data = {token: this.props.token, what, who:[who]}
                    do_post('/learn', data).then(this.props.handler);
                }

                is_ticked(){
                    return this.props.checked;
                }

                imagename(){
                    if (this.is_ticked()) { return 'static/tick.svg'; }
                    return 'static/cross.svg';
                }

                render(){
                    return(
                        <li class='colour_box' style={ {backgroundColor: this.props.colourval} } >
                            { this.props.colourname }
                            <div><button onClick={()=>{this.learn('murdered', this.props.colourname)}}>Murdered</button></div>
                            <div><button onClick={()=>{this.learn('ejected', this.props.colourname)}}>Ejected</button></div>
                            <div><button onClick={()=>{this.learn('crewmate', this.props.colourname)}}>Crewmate</button></div>
                            <div><button onClick={()=>{this.learn('impostor', this.props.colourname)}}>Impostor</button></div>
                            <p>Models: { this.props.model_count }</p>
                            <img class='tc' src={this.imagename()} onClick={this.props.onClick} />
                        </li>
                    );
                }
            }

            class GameUI extends React.Component {
                constructor(props){
                    super(props);
                    this.props = props;
                    let model_counts = {}
                    let i = 0;
                    let checked = {}
                    props.colours.forEach(c=>{
                        model_counts[c] = props.summary1[i];
                        checked[c] = false;
                        i += 1;
                    });
                    this.state = {msg:'', iserror:false, model_counts, checked};
                    this.handle_response = this.handle_response.bind(this);
                    this.toggle = this.toggle.bind(this);
                    this.selection_has_impostor = this.selection_has_impostor.bind(this);
                    this.resetgame = this.resetgame.bind(this);
                }

                toggle(colour){
                    this.setState((state, props) => {
                        let c = state.checked;
                        c[colour] = !c[colour];
                        return {checked: c}
                    });
                }

                eject_text(){
                    let countmap = Object.keys(this.state.model_counts).map(c=>[c, this.state.model_counts[c]]);
                    countmap.sort((a,b)=> b[1]-a[1]);
                    let n_sus = 0;
                    countmap.forEach((col, n)=>{n_sus += ((n>0)?1:0);});
                    if (n_sus == this.props.impostors){
                        return (
                            <div>
                                <p>All impostors are known. Eject the following players:</p>
                                <ul>
                                    {countmap.map(([c,n])=>n>0?<li>{c}</li>:'')}
                                </ul>
                            </div>
                        )
                    }
                    else{
                        return (
                            <div>
                                <p>Uncertain which players are impostors. Skip, or do a risky eject with the following preference order:</p>
                                <ul>
                                    {countmap.map(([c,n])=>n>0?<li>{c}</li>:'')}
                                </ul>
                                <p>Do not vote for any of these players:</p>
                                <ul>
                                    {countmap.map(([c,n])=>n==0?<li>{c}</li>:'')}
                                </ul>
                            </div>
                        )
                    }
                }

                handle_response(r){
                    this.setState({msg: r.msg, iserror:r.result == 'error'});
                    fade_notices();
                    if (r.result == 'success'){
                        if (r.token != this.props.token){
                            ReactDOM.render(<div></div>, document.getElementById('content'));
                            run_game(r.token, r.impostors, r.colours, r.summary);
                        }
                        let s = r.summary;
                        let i = 0;
                        let model_counts = {};
                        this.props.colours.forEach(c=>{
                            model_counts[c] = s[i];
                            i += 1;
                        });
                        this.setState({
                            model_counts
                        });
                    }
                }

                selection_has_impostor(){
                    let selection = [];
                    Object.keys(this.state.checked).forEach(colour=>{
                        if (this.state.checked[colour]) {selection.push(colour);}
                    });
                    this.setState({checked: this.props.colours.map(c=>false)});
                    do_post('/learn', {token: this.props.token, what:'impostor_in_group', who:selection}).then(this.handle_response);
                }

                resetgame(){
                    let start_state = {
                        impostors: this.props.impostors
                        ,colours: this.props.colours
                    }
                    do_post('/startgame', start_state).then(this.handle_response);
                }

                render(){
                    return(
                        <div>
                            <h2>Game in progress</h2>
                            <ul>
                                {this.props.colours.map(c =>
                                    <LearnBox onClick={()=>{this.toggle(c)}} handler={this.handle_response} token={this.props.token} colourname={c} colourval={colmap[c]} model_count={this.state.model_counts[c]} checked={this.state.checked[c]} />
                                )}
                            </ul>
                            <button style={ {marginBottom:'1em'} } onClick={this.selection_has_impostor}>Selection contains at least one impostor</button>
                            <NoticeBox ref={this.notice_box} msg={this.state.msg} error={this.state.iserror} />
                            <h2>Who to eject?</h2>
                            {this.eject_text()}
                            <button onClick={this.resetgame}>Replay with same config</button>
                            <button onClick={configure_game}>New game</button>
                        </div>
                    );
                }
            }

            function configure_game(){
                ReactDOM.render(
                    <GameStarter />
                    ,document.getElementById('content')
                );
            }

            function run_game(token, impostors, colours, summary){
                console.log('Run game with token: ' + token);
                ReactDOM.render(
                    <GameUI token={token} colours={colours} impostors={impostors} summary1={summary} />
                    ,document.getElementById('content')
                );

            }

            configure_game();
        </script>
    </body>
</html>
